<configuration>
	<connectionStrings>
		<add name="GameShopDb"
			 connectionString="Data Source=DESKTOP-OTIPR09\AMIN_SQL2022;Initial Catalog=GameShop;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
